node-red-flows-final.json
[
  {
      "id": "5f945dce.37c694",
      "type": "tab",
      "label": "Weather Dashboard",
      "disabled": false,
      "info": ""
  },
  {
      "id": "f6de9468.a6a8c8",
      "type": "http in",
      "z": "5f945dce.37c694",
      "name": "Weather Dashboard",
      "url": "/weather/dashboard",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 190,
      "y": 200,
      "wires": [
          [
              "7cfd6eb3.76f3c"
          ]
      ]
  },
  {
      "id": "392b9b74.012bc4",
      "type": "http response",
      "z": "5f945dce.37c694",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 630,
      "y": 720,
      "wires": []
  },
  {
      "id": "98315ebb.fd11c",
      "type": "http request",
      "z": "5f945dce.37c694",
      "name": "Fetch OWM",
      "method": "GET",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 370,
      "y": 300,
      "wires": [
          [
              "bc2ea072.f271d"
          ]
      ]
  },
  {
      "id": "6039e25a.497fac",
      "type": "template",
      "z": "5f945dce.37c694",
      "name": "Build HTML Page",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "<!DOCTYPE html>\n<html>\n\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <title>Weather Dashboard</title>\n  <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" rel=\"stylesheet\" type=\"text/css\" />\n  <style>\n    .section {\n      top: 0;\n      width: 100%;\n      z-index: 999;\n      background-color: #111111;\n      color: #ccc;\n      border-top: solid 3px #1E97E3;\n      height: 50px;\n    }\n\n\n    .menuitem {\n      margin-top: 12px;\n      display: inline-block;\n      width: 100px;\n    }\n\n    .menulink {\n      height: 40px;\n      padding: 7px;\n      border-bottom: 3px solid transparent;\n    }\n\n    .menulink:hover {\n      border-bottom: 3px solid #1E97E3;\n      text-decoration: none;\n      color: #1E97E3;\n    }\n\n    .footer {\n      margin-top: 12px;\n    }\n\n    .liitem {\n      height: 45px;\n    }\n\n    .skillLine {\n      display: inline-block;\n      width: 100%;\n      min-height: 90px;\n      padding: 3px 4px;\n    }\n\n    skillLineDefault {\n      padding: 3px 4px;\n    }\n\n    div.skill {\n      background: #F58723;\n      border-radius: 3px;\n      color: white;\n      font-weight: bold;\n      padding: 3px 4px;\n      width: 70px;\n    }\n\n    .rating {\n      margin-left: 30px;\n    }\n\n    .footerQR {\n      margin-left: 30%;\n    }\n\n    .leftText {\n      font-size: 41px;\n    }\n\n    .rightText {\n      font-size: 41px;\n      background: #F58723;\n      border-radius: 3px;\n      color: white;\n      padding: 3px 4px;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <div class=\"row\" style=\"margin-top: 30px\">\n      <div class=\"col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1\">\n        <form id=\"searchForm\">\n          <div class=\"form-group\">\n            <div class=\"input-group\">\n              <input id=\"inputSearch\" type=\"text\" class=\"form-control input-lg\" name=\"search\"\n                placeholder=\"Search 'city name' or 'city, country code' \" />\n              <span class=\"input-group-btn\">\"\n                <button id=\"searchSubmit\" type=\"submit\" class=\"btn btn-primary btn-lg ladda-button\"\n                  data-style=\"expand-right\" type=\"submit\"><span class=\"ladda-label\">Search</span></button>\n              </span>\n            </div>\n          </div>\n        </form>\n      </div>\n    </div>\n    <h2 style=\"text-align: center;margin: auto\">{{payload.header}}</h2>\n    {{#req.query.search}}\n        <div class=\"container\">\n          <br />\n          <div class=\"row\">\n            <div class=\"col-sm-6 col-lg-4\">\n              <div class=\"panel panel-primary\" style=\"height: 450px;\">\n                <div class=\"panel-heading\">\n                  <h4 class=\"text-center\">Current Forecast<span class=\"glyphicon glyphicon-asterisk pull-right\"></span>\n                  </h4>\n                </div>\n                <div class=\"panel-body text-center\">\n                  <p>\n                    <strong>{{payload.current.description}}</strong>\n                    <img src=\"https://openweathermap.org/img/wn/{{payload.current.icon}}@2x.png\" />\n                  </p>\n                </div>\n                <ul class=\"list-group list-group-flush\">\n                  <li class=\"list-group-item liitem\"><strong>Temperature:</strong>\n                    <span class=\"pull-right\">{{payload.current.temperature}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Feels Like:</strong>\n                    <span class=\"pull-right\">{{payload.current.feelsLike}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Humidity:</strong>\n                    <span class=\"pull-right\">{{payload.current.humidity}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Sunrise:</strong>\n                    <span class=\"pull-right\">{{payload.current.sunrise}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Sunset:</strong>\n                    <span class=\"pull-right\">{{payload.current.sunset}}</span>\n                  </li>\n                </ul>\n              </div>\n            </div>\n            <div class=\"col-sm-6 col-lg-4\">\n              <div class=\"panel panel-primary\" style=\"height: 450px;\">\n                <div class=\"panel-heading\">\n                  <h4 class=\"text-center\">5 Day Weather Forecast<span\n                      class=\"glyphicon glyphicon-list pull-right\"></span></h4>\n                </div>\n                <table class=\"table table-hover\">\n                    {{#payload.fiveDay}}\n                      <tr>\n                        <td>{{date}}</td>\n                        <td>{{temperature}} - {{description}}</td>\n                        <td><img style=\"margin-top: -10px;\" src=\"https://openweathermap.org/img/wn/{{icon}}.png\" /></td>\n                      </tr>\n                    {{/payload.fiveDay}}\n                </table>\n              </div>\n            </div>\n            <div class=\"col-sm-6 col-lg-4\">\n              <div class=\"panel panel-primary\" style=\"height: 450px;\">\n                <div class=\"panel-heading\">\n                  <h4 class=\"text-center\">About {{payload.country.name}}<span class=\"glyphicon glyphicon-map-marker pull-right\"></span></h4>\n                </div>\n                <div class=\"panel-body text-center\">\n                  <img src=\"{{payload.country.flagUrl}}\" width=\"20%\" />\n                </div>\n                <ul class=\"list-group list-group-flush\">\n                  <li class=\"list-group-item liitem\"><strong>Code:</strong>\n                    <span class=\"pull-right\">{{payload.country.code}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Capital:</strong>\n                    <span class=\"pull-right\">{{payload.country.capital}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Population:</strong>\n                    <span class=\"pull-right\">{{payload.country.population}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Currencies:</strong>\n                    <span class=\"pull-right\">{{payload.country.currencies}}</span>\n                  </li>\n                  <li class=\"list-group-item liitem\"><strong>Languages:</strong>\n                    <span class=\"pull-right\">{{payload.country.languages}}</span>\n                  </li>\n                </ul>\n              </div>\n            </div>\n          </div>\n        </div>\n    {{/req.query.search}}\n  </div>\n  <script src=\"https://code.jquery.com/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n  <script type=\"text/javascript\">\n    $(document).ready(function (e) {\n      $(\"#searchSubmit\").click(function (e) {\n        e.preventDefault()\n        var search = $('#inputSearch').val()\n        var url = location.protocol + \"//\" + location.host + location.pathname\n        if (!search) return alert(\"Please provide a search term\");\n        url += '?search=' + search;\n        window.location.replace(url);\n      });\n    });\n  </script>\n</body>\n\n</html>",
      "output": "str",
      "x": 450,
      "y": 740,
      "wires": [
          [
              "392b9b74.012bc4"
          ]
      ]
  },
  {
      "id": "ea92cefc.e69cb",
      "type": "switch",
      "z": "5f945dce.37c694",
      "name": "Check Search Query",
      "property": "req.query.search",
      "propertyType": "msg",
      "rules": [
          {
              "t": "nempty"
          },
          {
              "t": "else"
          }
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 2,
      "x": 640,
      "y": 200,
      "wires": [
          [
              "7ac8de74.7d946"
          ],
          [
              "6e101437.735f6c"
          ]
      ]
  },
  {
      "id": "b95e0cc5.6e17e",
      "type": "inject",
      "z": "5f945dce.37c694",
      "name": "",
      "props": [],
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": 0.1,
      "topic": "",
      "x": 170,
      "y": 80,
      "wires": [
          [
              "6b7dc945.386558"
          ]
      ]
  },
  {
      "id": "6b7dc945.386558",
      "type": "change",
      "z": "5f945dce.37c694",
      "name": "Set Params",
      "rules": [
          {
              "t": "set",
              "p": "owmAppId",
              "pt": "flow",
              "to": "c2d91713abf1773c9fb94c886350f03a",
              "tot": "str"
          },
          {
              "t": "set",
              "p": "owmUnits",
              "pt": "flow",
              "to": "metric",
              "tot": "str"
          },
          {
              "t": "set",
              "p": "owmTemperatureUnit",
              "pt": "flow",
              "to": "°C",
              "tot": "str"
          },
          {
              "t": "set",
              "p": "owmUrlCurrentForecast",
              "pt": "flow",
              "to": "https://api.openweathermap.org/data/2.5/weather",
              "tot": "str"
          },
          {
              "t": "set",
              "p": "owmUrl5DayForecast",
              "pt": "flow",
              "to": "https://api.openweathermap.org/data/2.5/forecast/daily",
              "tot": "str"
          },
          {
              "t": "set",
              "p": "restCountryUrl",
              "pt": "flow",
              "to": "https://restcountries.eu/rest/v2/alpha/",
              "tot": "str"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 80,
      "wires": [
          []
      ]
  },
  {
      "id": "ea4b785b.71dbf8",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "Prep",
      "func": "msg.url = flow.get('owmUrlCurrentForecast')\nmsg.url += `?appid=${flow.get('owmAppId')}`\nmsg.url += `&units=${flow.get('owmUnits')}`\nmsg.url += `&q=${msg.req.query.search}`\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 210,
      "y": 300,
      "wires": [
          [
              "98315ebb.fd11c"
          ]
      ]
  },
  {
      "id": "f4cd3344.ea2eb",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Set Memory Variables",
      "info": "",
      "x": 180,
      "y": 40,
      "wires": []
  },
  {
      "id": "3fed2f38.226e4",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Weather Dashboard Flow",
      "info": "",
      "x": 190,
      "y": 160,
      "wires": []
  },
  {
      "id": "606c169f.330f58",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Fetch Current Weather Forecast",
      "info": "",
      "x": 230,
      "y": 260,
      "wires": []
  },
  {
      "id": "b57620d9.c543",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Finalize",
      "info": "",
      "x": 130,
      "y": 680,
      "wires": []
  },
  {
      "id": "3db76719.0a4a18",
      "type": "link in",
      "z": "5f945dce.37c694",
      "name": "Finalize",
      "links": [
          "6e101437.735f6c",
          "833912d3.dd698",
          "e1dbc8b5.ae8b48",
          "b9ae2edd.d5348"
      ],
      "x": 95,
      "y": 720,
      "wires": [
          [
              "8597c38b.d0cd6"
          ]
      ]
  },
  {
      "id": "ec81deea.eeef2",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Error Handling",
      "info": "",
      "x": 150,
      "y": 580,
      "wires": []
  },
  {
      "id": "b41ed870.93cb08",
      "type": "catch",
      "z": "5f945dce.37c694",
      "name": "",
      "scope": null,
      "uncaught": false,
      "x": 150,
      "y": 620,
      "wires": [
          [
              "d67d71a4.66aa1"
          ]
      ]
  },
  {
      "id": "5883567b.b07608",
      "type": "link in",
      "z": "5f945dce.37c694",
      "name": "Fetch Current Forecast",
      "links": [
          "7ac8de74.7d946"
      ],
      "x": 115,
      "y": 300,
      "wires": [
          [
              "ea4b785b.71dbf8"
          ]
      ]
  },
  {
      "id": "7ac8de74.7d946",
      "type": "link out",
      "z": "5f945dce.37c694",
      "name": "Run Fetch Current Forecast",
      "links": [
          "5883567b.b07608"
      ],
      "x": 775,
      "y": 180,
      "wires": []
  },
  {
      "id": "6e101437.735f6c",
      "type": "link out",
      "z": "5f945dce.37c694",
      "name": "Run Finalize",
      "links": [
          "3db76719.0a4a18"
      ],
      "x": 775,
      "y": 220,
      "wires": []
  },
  {
      "id": "833912d3.dd698",
      "type": "link out",
      "z": "5f945dce.37c694",
      "name": "Run Finalize",
      "links": [
          "3db76719.0a4a18"
      ],
      "x": 415,
      "y": 620,
      "wires": []
  },
  {
      "id": "e50a1f81.e62a2",
      "type": "link out",
      "z": "5f945dce.37c694",
      "name": "Run Fetch 5 Day Forecast",
      "links": [
          "b09d1f1a.11d88"
      ],
      "x": 695,
      "y": 300,
      "wires": []
  },
  {
      "id": "d67d71a4.66aa1",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "",
      "func": "msg.payload.header = `${msg.error.message} - \"${msg.req.query.search}\"`\ndelete msg.req.query.search\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 300,
      "y": 620,
      "wires": [
          [
              "833912d3.dd698"
          ]
      ]
  },
  {
      "id": "bc2ea072.f271d",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "Process Result",
      "func": "let errMsg = null\n\n// First check response for error\nif (msg.statusCode >= 400) {\n    try {\n        errMsg = msg.payload.message\n    } catch (e) {\n        errMsg = msg.payload\n    }\n    \n    throw new Error(errMsg)\n}\n\n// Process response data\nmsg.countryCode = msg.payload.sys.country\nmsg.result.header = msg.payload.name\n\nlet tmpSunrise = msg.payload.sys.sunrise * 1000\ntmpSunrise = new Date(tmpSunrise)\nlet sunrise = tmpSunrise.toLocaleTimeString([], { hour: '2-digit', minute: \"2-digit\", hour12: true })\n\nlet tmpSunset = msg.payload.sys.sunset * 1000\ntmpSunset = new Date(tmpSunset)\nlet sunset = tmpSunset.toLocaleTimeString([], { hour: '2-digit', minute: \"2-digit\", hour12: true })\n\nmsg.result.current = {\n    description: msg.payload.weather[0].description,\n    icon: msg.payload.weather[0].icon,\n    temperature: `${Math.round(msg.payload.main.temp)}${flow.get('owmTemperatureUnit')}`,\n    feelsLike: `${Math.round(msg.payload.main.feels_like)}${flow.get('owmTemperatureUnit')}`,\n    humidity: `${msg.payload.main.humidity}%`,\n    sunrise,\n    sunset\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 560,
      "y": 300,
      "wires": [
          [
              "e50a1f81.e62a2"
          ]
      ]
  },
  {
      "id": "7cfd6eb3.76f3c",
      "type": "change",
      "z": "5f945dce.37c694",
      "name": "Prep Variables",
      "rules": [
          {
              "t": "set",
              "p": "result",
              "pt": "msg",
              "to": "{}",
              "tot": "json"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 400,
      "y": 200,
      "wires": [
          [
              "ea92cefc.e69cb"
          ]
      ]
  },
  {
      "id": "ce3dc5c3.efd6a8",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Fetch 5 Day Forecast",
      "info": "",
      "x": 200,
      "y": 360,
      "wires": []
  },
  {
      "id": "b30e5de4.c31ab",
      "type": "http request",
      "z": "5f945dce.37c694",
      "name": "Fetch OWM",
      "method": "GET",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 370,
      "y": 400,
      "wires": [
          [
              "13a14bac.af2f64"
          ]
      ]
  },
  {
      "id": "8f726635.4a3118",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "Prep",
      "func": "msg.url = flow.get('owmUrl5DayForecast')\nmsg.url += `?appid=${flow.get('owmAppId')}`\nmsg.url += `&units=${flow.get('owmUnits')}`\nmsg.url += `&q=${msg.req.query.search}`\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 210,
      "y": 400,
      "wires": [
          [
              "b30e5de4.c31ab"
          ]
      ]
  },
  {
      "id": "b09d1f1a.11d88",
      "type": "link in",
      "z": "5f945dce.37c694",
      "name": "Fetch 5 Day Forecast",
      "links": [
          "e50a1f81.e62a2"
      ],
      "x": 115,
      "y": 400,
      "wires": [
          [
              "8f726635.4a3118"
          ]
      ]
  },
  {
      "id": "ef3513a1.c5b59",
      "type": "link out",
      "z": "5f945dce.37c694",
      "name": "Run Fetch Country",
      "links": [
          "68ba574d.481a58"
      ],
      "x": 695,
      "y": 400,
      "wires": []
  },
  {
      "id": "13a14bac.af2f64",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "Process Result",
      "func": "let errMsg = null\n\n// First check response for error\nif (msg.statusCode >= 400) {\n    try {\n        errMsg = msg.payload.message\n    } catch (e) {\n        errMsg = msg.payload\n    }\n    \n    throw new Error(errMsg)\n}\n\n// Process response data\nmsg.result.fiveDay = []\nlet date\nlet tmpDate = null\nlet tmpEntry\nlet x = 0\nlet y = msg.payload.list.length\n\nfor (;x < y; x++) {\n    tmpEntry = msg.payload.list[x]\n    tmpDate = tmpEntry.dt * 1000\n    tmpDate = new Date(tmpDate)\n    date = `${tmpDate.getDate()}/${(tmpDate.getMonth() + 1)}`\n\n    msg.result.fiveDay.push({\n        date,\n        temperature: `${Math.round(tmpEntry.temp.max)}${flow.get('owmTemperatureUnit')}`,\n        description: tmpEntry.weather[0].description,\n        icon: tmpEntry.weather[0].icon,\n        \n    })\n    \n    // We only need 5 entries\n    if (x === 4) break\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 560,
      "y": 400,
      "wires": [
          [
              "ef3513a1.c5b59"
          ]
      ]
  },
  {
      "id": "7df06cdc.4c9d64",
      "type": "comment",
      "z": "5f945dce.37c694",
      "name": "Fetch Country Info",
      "info": "",
      "x": 190,
      "y": 460,
      "wires": []
  },
  {
      "id": "7131392d.7fb668",
      "type": "http request",
      "z": "5f945dce.37c694",
      "name": "Fetch Country",
      "method": "GET",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 380,
      "y": 500,
      "wires": [
          [
              "8d4c02b9.22db1"
          ]
      ]
  },
  {
      "id": "bfd36366.648e7",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "Prep",
      "func": "msg.url = `${flow.get('restCountryUrl')}${msg.countryCode}`\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 210,
      "y": 500,
      "wires": [
          [
              "7131392d.7fb668"
          ]
      ]
  },
  {
      "id": "68ba574d.481a58",
      "type": "link in",
      "z": "5f945dce.37c694",
      "name": "Fetch Country",
      "links": [
          "ef3513a1.c5b59"
      ],
      "x": 115,
      "y": 500,
      "wires": [
          [
              "bfd36366.648e7"
          ]
      ]
  },
  {
      "id": "b9ae2edd.d5348",
      "type": "link out",
      "z": "5f945dce.37c694",
      "name": "Run Finalize",
      "links": [
          "3db76719.0a4a18"
      ],
      "x": 715,
      "y": 500,
      "wires": []
  },
  {
      "id": "8d4c02b9.22db1",
      "type": "function",
      "z": "5f945dce.37c694",
      "name": "Process Result",
      "func": "let errMsg = null\n\n// First check response for error\nif (msg.statusCode >= 400) {\n    try {\n        errMsg = msg.payload.message\n    } catch (e) {\n        errMsg = msg.payload\n    }\n    \n    throw new Error(errMsg)\n}\n\n// Process response data\nmsg.result.header += `, ${msg.payload.nativeName}`\n\nlet currencies = []\nlet languages = []\n\nfor (const currency of msg.payload.currencies) {\n    currencies.push(`${currency.code} (${currency.symbol})`)\n}\n\nfor (const language of msg.payload.languages) {\n    languages.push(language.name)\n}\n\nmsg.result.country = {\n    name: msg.payload.nativeName,\n    code: msg.payload.alpha2Code,\n    capital: msg.payload.capital,\n    population: Intl.NumberFormat().format(msg.payload.population),\n    currencies: currencies.join(', '),\n    languages: languages.join(', '),\n    flagUrl: msg.payload.flag\n}\n\nmsg.payload = msg.result\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 580,
      "y": 500,
      "wires": [
          [
              "b9ae2edd.d5348"
          ]
      ]
  },
  {
      "id": "8597c38b.d0cd6",
      "type": "switch",
      "z": "5f945dce.37c694",
      "name": "Check Output Query",
      "property": "req.query.output",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "json",
              "vt": "str"
          },
          {
              "t": "else"
          }
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 2,
      "x": 240,
      "y": 720,
      "wires": [
          [
              "392b9b74.012bc4"
          ],
          [
              "6039e25a.497fac"
          ]
      ]
  }
]